/* @import url('https://fonts.googleapis.com/css?family=Monoton&display=swap') */
@import url("scrollbar.css");

body{
  font-size: 16px;
  color: #fff;
  font-family: roboto;
  margin: 0;
  background: #292d31;
  background: #0e1923;
}
.container{
  max-width: 1200px;
  margin: auto;
  padding:0 48px;
}

h1,h2,h3{
  font-family: roboto condensed;
  margin:0;
}
h1{
  font-size: 48px;
}
